



.menu {
    padding: 10px;
    display: grid;
    grid-template-columns: 300px;
    border-top: 3px var(--Eerie-black) solid;
    border-bottom: 3px var(--Eerie-black) solid;
    background-color: var(--Light-lilal);
}

/*all header elements get a border*/
.menu > * {
    border: var(--Eerie-black) 1px solid;
    border-radius: 5px;
}

#header > a {
    border: none;
}

.darker {
    background-color: var(--Lilac);
}

.logo {
    display: block;
    font-family: "Book Antiqua", serif;
    line-height: 0.75em;
    font-size: 100px;
    background-color: var(--Blue-Gray);
    border-radius: 10px;
    color: var(--Eerie-black);
    width: 250px;
    text-align: center;
    border: 3px var(--Air-Force-blue) solid;
    margin: auto;
    padding: 10px;

    grid-column-start: 1;
    grid-row-start: 1;

}

.pages {
    margin: 0 14px 0 0;
    padding: 19px 0 29px;
    /*layout of items*/
    display: flex;
    justify-content: space-around;

    font-size: 45px;

    grid-column-start: 2;
    grid-row-start: 1;
}

#email {
    padding: 10px;
    /*layout of items*/
    display: flex;
    justify-content: space-between;

    font-size: 2em;
}

/*hover menu positioning and hiding while not hovered*/
#dropdowns ul {
    flex-direction: column;
    padding-left: 0;
    width: fit-content;

    text-align: center;

    position: absolute;

    display:none;
}

/*hover menu*/
#dropdowns li:hover ul, #header li:hover ul li {
    display: flex;
    flex-direction: column;
    background-color: var(--Light-lilal);
    border: var(--Eerie-black);
    text-align: left;

    border: var(--Eerie-black) 1px solid;
    border-radius: 2px;

    font-size: 0.75em;
}

#dropdowns li:hover li:hover {
    background-color: var(--Lilac);
}


.bottom-menu {
    margin: 10px 1% 3px;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

/*breadcrumbs*/
#bread {
    display: flex;
    align-items: baseline;
    justify-content: left;
    margin: 2px;
    font-size: 20px;
}

/* separate crumbs */
#bread li {
    padding-right: 5px;
}

/* content before each part of the breadcrumbs except the first */
#bread li:not(:first-child):before {
    content: '> ';
}

/* for home icon */
#bread img {
    height: 13px;
    aspect-ratio: auto;
}

