



.menu {
    padding: 10px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-areas:
    "logo pages"
    "bread bread";

    border-top: 3px var(--Eerie-black) solid;
    border-bottom: 3px var(--Eerie-black) solid;
    background-color: var(--Light-lilal);
}

/*all header elements get a border*/
.menu > * {
    border: var(--Eerie-black) 1px solid;
    border-radius: 5px;
}

/*logo doesnt get a border at this level*/
#header > a {
    border: none;
}

.logo {
    font-family: "Book Antiqua", serif;
    font-size: 100px;
    text-align: center;

    background-color: var(--Blue-Gray);
    border: 3px var(--Air-Force-blue) solid;
    border-radius: 10px;

    /*needed because large text has large margin by default*/
    line-height: 0.75em;


    width: 250px;
    margin: auto;
    padding: 10px;

    grid-area: logo;

}

.pages {
    margin: 0 14px 0 0;
    padding: 19px 0 29px;
    /*layout of items*/
    display: flex;
    justify-content: space-around;

    font-size: 45px;

    grid-area: pages
}

/*hover menu positioning and hiding while not hovered*/
#dropdowns ul {
    flex-direction: column;
    padding-left: 0;
    width: fit-content;

    text-align: center;

    position: absolute;

    display:none;
}

/*hover menu*/
#dropdowns li:hover ul, #header li:hover ul li {
    display: flex;
    flex-direction: column;
    background-color: var(--Light-lilal);
    text-align: left;

    border: var(--Eerie-black) 1px solid;

    font-size: 0.75em;
}

/*hover effect on hover menu*/
#dropdowns li:hover li:hover {
    background-color: var(--Lilac);
}


/*breadcrumbs positioning*/
.bottom-menu {
    /*breathing room*/
    margin: 10px 1% 3px;
    grid-area: bread;
}

/*breadcrumbs*/
#bread {
    display: flex;
    /*remove default large margin for large text*/
    margin: 2px;
    font-size: 20px;
}

/* separate crumbs a bit*/
#bread li {
    padding-right: 5px;
}

/* adding a "> " before each part of the breadcrumbs except the first */
#bread li:not(:first-child):before {
    content: '> ';
}

/* for home icon */
#bread img {
    height: 13px;
    aspect-ratio: auto;
}

/*contact info instead of breadcrumbs in footer,
all other footer css is same as header*/
#email {
    padding: 10px;
    /*layout of items*/
    display: flex;
    justify-content: space-between;

    font-size: 2em;
}

