/*titel but fixed*/
#titel {
    background-attachment: fixed;
}
/*titel text formatting*/
#hexahome {
    margin: 0;
    padding: 30px 0 0;
    font-size: 5em;
}
/*background for everything*/
#grid {
    background-color: var(--Lilac);
}
/*marg and large pad for main grid*/
#woningen {
    margin: 0;
    padding: 0 0 70px;
    font-size: 10em;
}
/*put every item in a flex row with wrap and center*/
#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*define items*/
#grid a {
    width: 20%;
    height: 500px;

    padding: 10px;
    margin: 20px;
    border: var(--Eerie-black) 1px solid;
    border-radius: 25px;

    background-color: var(--Platinum);
}

/*define items as grid*/
#grid section {
    /*make sections be same size as <a> around it*/
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "name name"
    "type price"
    "discr discr"
    "image image";
}

/*general layout*/
#grid section > * {
    margin: 0;
    justify-self: center;
    padding: 3px;
}

/*format header*/
#grid h3 {
    font-size: 1.5em;
    text-align: center;

    grid-area: name;
}
/*format type*/
.type {
    padding-left: 20px;

    border: var(--Eerie-black) 1px solid;
    border-radius: .5em;
    background-color: var(--Light-lilal);

    grid-area: type;
}
/*format price*/
.prijs {
    justify-self: end;
    padding-right: 20px;

    border: var(--Eerie-black) 1px solid;
    border-radius: .5em;
    background-color: var(--Light-lilal);

    grid-area: price;
}
/*format description*/
.discr {
    font-size: 0.85em;
    padding: 0 10px;

    flex-grow: 1;

    grid-area: discr;
}
/*format image*/
#grid figure {
    grid-area: image;

    justify-self: center;
    align-self: end;
}
/*format optional tag*/
.tag {
    position: absolute;
    font-size: 1.5em;
    background-color: var(--Platinum);
    padding: 2px;
    border-radius: 20px;
    border: var(--Lilac) 4px solid;
}
